<% layout("/layouts/boilerplate.ejs")%>

  <body>
    <h3>all Listings </h3>
     

      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1" >
       <% for(let list of allListings){ %>
    <div class="card   " >
      <a href="/listings/<%=list.id%>" class="list-link">
      <img src="<%= list.image %>" class="card-img-top"
       alt="listing.image" style="height:20rem;">
       <div class="card-img-overlay"></div>
      <div class="card-body">
      <p class="card-para"> 
        <b> <%= list.title %></b>             <br>
        &#8377;<%=list.price.toLocaleString("en-IN") %>/night
      </p>
      </a> 
      </div>
    </div>
    <% }%>
      </div>
     

    
  </body>