<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create a new listing</h3>
    <form method="post" action="/listings">
        <input type="text" name="listing[title]" id="" placeholder="Enter  the title">
        <br><br>
        <textarea type="text" placeholder="Enter the description" name="listing[description]"></textarea>
        <br><br>
        <input  name="listing[image]" id="" placeholder="Enter image url"> 
        <br><br>
        <input type="number" name="listing[price]" placeholder="Enter price">
        <br><br>
        <input type="text" name="listing[location]" placeholder="enter location">
        <br><br>
        <input type="text" name="listing[country]" placeholder="Enter your country">
        <br><br>
        <button>ADD</button>

    </form>
    
</body>
</html>