/* body{/

    background-color: palevioletred;
} */

/* navbar */

.navbar{
    height:5rem;
    background-color:white;
   
}
.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}

/* footer */

.f-info-links a{
   text-decoration:none;
   color:#222222; 
}

.f-info-links a:hover{
   text-decoration:underline;
   
}

.f-social{
    width:100%;
    
}

.f-social i{
  font-size:1.2rem;
  margin-right:1rem;
  margin-top:0.5rem;
}

.f-info-links,.f-social,.f-name{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.f-info{
    display:flex;
    height: 5rem;
    background-color: #ebebeb;
    flex-wrap:wrap ;
    justify-content:center;
    text-align:center;

}


